body {
    background-image: linear-gradient(#fafcff, #aaccf7, #98f6a0);
    background-attachment: fixed;
}

.barUser {
    background-color: #8ccddf !important;
}

.barUser a {
    color: #09298b;
}

.colorGreen {
    color:#008037;
}

.colorBlue {    
    color:#004aad;
}
