<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1000">
      <img src="/img/Bienvenido.png" class="d-block w-100" alt="...">
    </div>   
    <div class="carousel-item">
      <img src="/img/cargar.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block" style="color: white;">
        <h1>Carga tu auto</h1>
        <h2>Cuando quieras, donde quieras</h2>
       </div> 
    </div>
    <div class="carousel-item">
      <img src="/img/Solución.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block" style="color: white;">
        <h1>Somos tu mejor opción</h1>
       </div>  
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
