<div class="d-flex justify-content-center align-items-center vh-100" style="margin-top: -88px;">
    
        <div class="col-md-4">
            <div class="container">
                <div class="card-header">
                    <h2 class="text-center colorBlue">Iniciar sesión</h2>
                    <p class="text-center colorGreen">Sos nuevo <a href="/registro">Registrate</a></p>
                </div>
                <div class="card-body">
                    <form action="/acceso" method="post">
                        <div class="form-group my-3">
                            <input type="email" id="user_correo" name="user_correo" placeholder="Ingrese su correo"
                                class="form-control">
                        </div>
                        <div class="form-group my-3">
                            <input type="password" id="user_contrasenia" name="user_contrasenia" placeholder="Contraseña"
                                class="form-control">
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-success btn-block px-4">INGRESAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
