<div class="row d-flex justify-content-center">
        <div class="col mb-3 mb-sm-0">
            <a href="/admin/verusuarios" style="text-decoration: none;">                
                <div class="card mx-auto" style="width: 18rem;">
                    <img src="/img/usuarios.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="color: #008037;">Usuarios</h5>
                        <p class="card-text text-center">Consulta los usuarios que confian en EnergyCars.</p>
                    </div>
                </div>  
            </a>
        </div>
        <div class="col">
            <a href="/admin/verReservas" style="text-decoration: none;">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src="/img/reservas.png" class="card-img-top" alt="" style="height: 153px;">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="color: #008037;">Reservas</h5>
                        <p class="card-text text-center">Consulta indicadores de las reservas de nuestros usuarios.</p>   
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="#" style="text-decoration: none;">                
                <div class="card mx-auto" style="width: 18rem;">
                    <img src="/img/estacioncarga.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="color: #008037;">Estaciones de Carga</h5>
                        <p class="card-text text-center">Consulta indicadores de estaciones de carga.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>