<div class="row p-5"> 
    <div class="col-md-5 mx-auto">
        <div class="">
            <div class="card-body">
                <h3>Estaciones de Carga</h3>
                    <form action="/admin/gestionEstaciones" method="POST">
                        <div>
                            <label for="estc_nombre">Nombre de la Estación:</label>
                            <input type="text" name="estc_nombre" id="estc_nombre" required>
                        </div>
                        <div>
                            <label for="estc_direccion">Dirección:</label>
                            <input type="text" name="estc_direccion" id="estc_direccion" required>
                        </div>
                        <div>
                            <label for="estc_localidad">Localidad:</label>
                            <input type="text" name="estc_localidad" id="estc_localidad" required>
                        </div>
                        <div>
                            <label for="estc_cant_surtidores">Cantidad de Surtidores:</label>
                            <input type="number" name="estc_cant_surtidores" id="estc_cant_surtidores" required>
                        </div>
                        <div>
                            <label for="id_provincia">Provincia:</label>
                            <select name="id_provincia" required>
                                <option value="" disabled selected>Selecciona una provincia</option>
                                {{#each provincias}}
                                    <option value="{{this.ID_PROVINCIA}}">{{this.PROVINCIA_NOMBRE}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div>
                            <label for="estc_latitud">Latitud:</label>
                            <input type="text" name="estc_latitud" id="estc_latitud" required>
                        </div>
                        <div>
                            <label for="estc_longitud">Longitud:</label>
                            <input type="text" name="estc_longitud" id="estc_longitud" required>
                        </div>
                        <button class="btn btn-success m-1">Crear Estacion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
