<div class="text-center">    
    <h1 class="colorGreen">Envíanos tu mensaje</h1>
    <h6 class="colorBlue">Nuestro equipo se pondrá en contacto contigo</h6>
</div>
<div class="container p-4">
    <div class="row">
        <div class="col mx-auto">
            <div class="">
                <div class="card-body">
                    <form action="/negocio/contacto" method="POST">
                        <div class="form-group">                            
                            <input type="text" id="nombre-apellido" class="form-control fondoGradiente3" name="nombre-apellido" placeholder="Nombre y apellido">
                        </div>                            
                        <div class="form-group my-3">
                            <input type="text" id="e-mail" class="form-control fondoGradiente3" name="e-mail" placeholder="E-mail">
                            </select>
                        </div>
                        <div class="form-group my-3">
                            <input type="text" id="asunto" class="form-control fondoGradiente3" name="asunto" placeholder="Asunto">
                        </div>
                        <div class="form-group my-3">
                            <textarea name="mensaje" id="mensaje" class="form-control fondoGradiente3" placeholder="Mensaje" rows="4" cols="40"></textarea>
                        </div>
                        <div class="form-group d-grid my-3">
                            <button class="btn btn-success">Enviar</button>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
