<div class="container p-4">
    <h1 class="text-center" style="color: #004aad;">¿Quiénes somos?</h1>
    <p class="text-center">A través de nuestra plataforma, facilitamos la localización y reserva de estaciones de carga para vehículos eléctricos, brindando una solución eficiente y accesible para los conductores. Creemos en un futuro sostenible y trabajamos para fomentar el uso de energías limpias, contribuyendo así a la reducción de la huella de carbono.</p>
    <p class="text-center">Nuestro equipo está comprometido con la innovación y la mejora continua, siempre enfocados en ofrecer un servicio confiable que apoye la transición hacia un transporte más ecológico y responsable.</p>
    <p class="text-center">En EnergyCars, nos dedicamos a simplificar la movilidad eléctrica.</p>
    <hr>
    <h1 class="text-center" style="color: #008037;">Misión</h1>
    <p class="text-center">Nuestra misión en EnergyCars es impulsar la adopción de la movilidad eléctrica mediante una plataforma tecnológica innovadora que facilite la localización, reserva y gestión de estaciones de carga para vehículos eléctricos. Nos comprometemos a ofrecer una experiencia accesible, eficiente y segura para los conductores de vehículos eléctricos, mientras fomentamos un futuro sostenible y responsable con el medio ambiente.</p>
    <hr>
    <br>
    <h1 class="text-center" style="color: #004aad;">Visión</h1>
    <p class="text-center">Ser la plataforma líder en soluciones tecnológicas para la movilidad eléctrica, promoviendo un futuro en el que los vehículos eléctricos sean accesibles para todos y la infraestructura de carga sea parte integral del desarrollo urbano y ecológico.</p>
    <hr>
    <br>
    <h1 class="text-center" style="color: #008037;">Valores</h1>
    <br>
    <div class="row d-flex justify-content-center">
        <div class="col mb-3 mb-sm-0">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="/img/sostenibilidad.png" class="card-img-top" alt="">
                <div class="card-body fondoGradiente4">
                    <h5 class="card-title text-center" style="color: #004aad;">Sostenibilidad</h5>
                    <p class="card-text text-center">Creemos en un mundo más limpio y ecológico. Por ello, nuestro trabajo está enfocado en contribuir al desarrollo de soluciones que reduzcan la huella de carbono y promuevan un estilo de vida más sostenible.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="/img/Innovacion.png" class="card-img-top" alt="" style="height: 153px;">
                <div class="card-body fondoGradiente4">
                    <h5 class="card-title text-center" style="color: #004aad;">Innovación</h5>
                    <p class="card-text text-center">Nos esforzamos por mantenernos a la vanguardia de la tecnología, ofreciendo soluciones que no solo sean funcionales, sino también disruptivas y orientadas hacia el futuro. Es uno de los valores principales de EnergyCars.</p>   
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="/img/Compromiso.png" class="card-img-top" alt="">
                <div class="card-body fondoGradiente4">
                    <h5 class="card-title text-center" style="color: #004aad;">Compromiso con el cliente</h5>
                    <p class="card-text text-center">La satisfacción y confianza de nuestros usuarios es nuestra prioridad. Nos aseguramos de que cada experiencia con EnergyCars sea fluida, segura y confiable, brindando soporte en cada paso del camino.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center py-3">
        <div class="col mb-3 mb-sm-0">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="/img/accesibilidad.png" class="card-img-top" alt="">
                <div class="card-body fondoGradiente4">
                    <h5 class="card-title text-center" style="color: #004aad;">Accesibilidad</h5>
                    <p class="card-text text-center">Queremos que todos los conductores de vehículos eléctricos puedan acceder fácilmente a estaciones de carga. Trabajamos para hacer que nuestra plataforma sea intuitiva y esté disponible para cualquier persona, en cualquier lugar.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="/img/Colaboración.png" class="card-img-top" alt="">
                <div class="card-body fondoGradiente4">
                    <h5 class="card-title text-center" style="color: #004aad;">Colaboración</h5>
                    <p class="card-text text-center">Valoramos el trabajo en equipo y las alianzas estratégicas que nos permiten crecer y mejorar. Creemos en la cooperación tanto dentro de nuestro equipo como con nuestros socios, siempre en busca de nuevas oportunidades y sinergias. En EnergyCars fomentamos la sinergia.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="/img/Responsabilidad.png" class="card-img-top" alt="">
                <div class="card-body fondoGradiente4">
                    <h5 class="card-title text-center" style="color: #004aad;">Responsabilidad social</h5>
                    <p class="card-text text-center">Nos sentimos responsables del impacto de nuestras acciones en la sociedad y en el planeta. Cada decisión que tomamos está orientada a construir un futuro mejor para las generaciones venideras. En EnergyCars apostamos al bienestar social.</p>
                </div>
            </div>
        </div>
    </div>
</div>

